#==== Vonage API ====

#-- From dashboard.nexmo.com --
API_KEY=xxxx
API_SECRET=xxxxx

#-- Application ID (from dashboard.nexmo.com) --
APP_ID=xxxx

#-- Linked phone number(s) --
SERVICE_PHONE_NUMBERS=12995551212

#-- Delay to play first TTS after call answer, in milliseconds --
# Set to 3500 for 3-way calling from Broadworks extension use case --
# Ajust value depending on your actual use case --
DELAY_TO_FIRST_TTS=3500

#==== Deepgram API ====

# Key with at least "member" role
DEEPGRAM_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Speech recognition (ASR) model
DEEPGRAM_STT_MODEL=nova-3

# Language code
DEEPGRAM_STT_LANGUAGE=en-US

#==== Drop-off server host name for conversation transcript ====
# (no prefix such as "https://", and no trailing slash "/")
DROP_OFF_SERVER_PATH=myserver-2.mycompany.com/dropoff
# DROP_OFF_SERVER_PATH=xxxxxxx.ngrok.xxx/dropoff


